html {
  background-color: white;
}

.about-element-default {
    font-size: 18px;
    background-color: #333333;
    padding-bottom: 5em;
    padding-bottom: 10%;
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
}


.about-element-white {
    font-size: 18px;
    background-color: white;
    padding-bottom: 5em;
    padding-bottom: 10%;
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
}

.row-content-white-about {
    min-width: 100%;
    padding-top: 5%;
    color: black;
    font-family: quicksandregular;
    font-size: 30px;
    background-color: white;       
}

.row-content-default-about {
    min-width: 100%;
    padding-top: 5%;
    padding-bottom: 15%;
    color: white;
    background-color: #4791D2;
    font-family: quicksandregular;
    font-size: 30px;
}

.teach-phil-white { /*Our Goals*/
    padding-top: 5%;
    padding-bottom: 20%;
    max-height: 20%;
    color: black;
    font-family: quicksandregular;
    font-size: 30px;
    background-color: white;

}

.main {
  margin-right: auto;
  margin-left: auto; 
  text-align: center;
  font-size: 22px;
  margin-bottom: 100px;
  padding-bottom: 2.5em;
  }

  .footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -1;
  }

.teach-phil-default { /*Our Principles */
    padding-bottom: 3em;
    max-height: 20%;
    color: black;
    background-color: #4791D2;
    font-family: quicksandregular;
    font-size: 30px;
    color: white;

}


.row-content-info {
    margin-bottom: 0;
    min-width: 100%;
    background-color: #333333;
    color: white;
    line-height: 4em;    
}

/* Links Buttons */
.btn-link {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: quicksandregular;
  color: #ffffff;
  font-size: 20px;
  background: #4791D2;
  padding: 15px 20px 15px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
}

.btn-link-alt {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: quicksandregular;
  color: #ffffff;
  font-size: 20px;
  background: #4791D2;
  padding: 15px  40px 15px 40px;
  border: solid #ffffff 2px;
  text-decoration: none;
  }

  .btn-link-alt:hover {
  background: #317cbd;
  text-decoration: none;
  color: white;

}
  
.btn-link:hover {
  background: #317cbd;
  text-decoration: none;
  color: white;

}

.section-header-about {
    font-family: opensans_bold;
    font-size: 50px; 
    margin-bottom: 0;
}

.about-icons {
  margin-top: 0;
  margin-bottom: 1em;
}

.header-about { /*Parent container of heading-about*/
    padding-top: 3em;
    margin-bottom: 2em;
    font-size: 30px;
    color: white;
    font-family: quicksandregular;  
}
.heading-about { /*The Actual Heading "About Us"*/
    font-family: lobster_regular;
    font-size: 50px;
    padding-bottom: 5%;
}